.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 25px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.list-box {
  border-radius: 5px;
  background-color: #555;
  min-width: 250px;
  
}

.list-box-header {
  background-color: #999;
  padding: 5px 0 5px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-box-body {
  padding: 5px;
  max-height: 300px;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
